h1{
  color: rgb(90, 0, 128);
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

h2{
  color: rgb(31, 94, 39);
  text-decoration: underline;
  background-color: orange;
}

.paragraph {
  color: blueviolet;
}

*{
  background-color: greenyellow;
  margin: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
